{% extends "layout.html" %} {% block body %}

<div class="about-section">
  <h1>About Us</h1>
  <p>
    Here We give a chance to chefs to reveal tasty and simple dishes for simple
    people. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum
    libero numquam quos odio sapiente voluptas, molestias recusandae inventore
    iure reiciendis, expedita magnam pariatur hic. Ab fuga ducimus nobis placeat
    delectus? Nostrum officia unde similique maxime! Odio soluta at aperiam
    possimus quaerat, similique quia recusandae reiciendis! Quasi animi odio
    officia distinctio possimus. Saepe eaque amet cum maxime aut corporis porro
    eos! Saepe ipsum dolor perferendis suscipit adipisci? Non nisi, illo
    officiis asperiores ipsum doloribus inventore dolorum? Rem fuga eum
    consequatur labore. Est vel ipsa consequuntur reiciendis. Alias sequi dolore
    iusto est expedita accusamus, eos a quasi. Ullam quasi molestiae alias
    aliquid obcaecati exercitationem perferendis est quibusdam. Eos, officia
    voluptatem minus, nam assumenda enim nobis alias recusandae excepturi
    temporibus eaque repellendus quidem odit ex asperiores illo omnis odio
    ratione. Nemo doloremque nulla ex deleniti recusandae, vero voluptate libero
    optio laborum aspernatur ut praesentium voluptates, commodi natus dicta
    atque temporibus. Earum blanditiis velit maxime saepe quam eveniet atque
    recusandae modi dolor commodi ratione, dignissimos, amet pariatur nesciunt
    distinctio! Veniam perspiciatis ad, quo amet explicabo perferendis aperiam
    officia eum blanditiis ipsum, incidunt eos consequuntur, omnis facilis ex
    ducimus atque nobis? Earum alias eius in debitis. Id rem iste deserunt
    nesciunt quibusdam vero nam ut!
  </p>
  <p>
    Resize the browser window to see that this page is responsive by the way.
  </p>
</div>

<h2 style="text-align: center">Our Contributors of the week</h2>
<div class="row">
  <div class="col span-1-of-3">
    <div class="card">
      <img
        src="static/img/Vedant.jpeg"
        alt="Desert Contributor"
        class="container"
      />
      <h2 class="card-title">Vedant Vartak</h2>
      <p class="card-subtitle">Desert Maker</p>
      <p class="card-description">
        A good Desert maker with great sense of taste and flavors and designing
        skills. Made the About page
      </p>
    </div>
  </div>

  <div class="col span-1-of-3">
    <div class="card">
      <img
        src="static/img/Rohan.jpeg"
        alt="Cake Contributor"
        class="container"
      />
      <h2 class="card-title">Rohan Singh</h2>
      <p class="card-subtitle">Traditional Dish maker</p>
      <p class="card-description">
        A good chef with sense of taste and good cake designing skills. Made the
        Profile page
      </p>
    </div>
  </div>
  <div class="col span-1-of-3">
    <div class="card">
      <img
        src="static/img/Aayush2.jpeg"
        alt="Pasta Contributor"
        class="container"
      />
      <h2 class="card-title">Aayush Waghchaure</h2>
      <p class="card-subtitle">Pasta Maker</p>
      <p class="card-description">
        A good Pasta maker with great sense of taste and flavors. Made the Home,
        recipes, tags and sample recipe.
      </p>
    </div>
  </div>
</div>

{% endblock %}
