{% extends "layout.html" %} {% block body %}

<form action="/post-recipes" method="post">
      <section class="recipe">
        <h2 class="recipe-hero-title">Title
          <input
        type="text"
        placeholder="Title"
        id="title"
        name="title"        
      />
        </h2>
        <div class="row">
          <div class="col span-1-of-2">
            <img
              src="resources/img/food/white sauce pasta.jpg"
              class="recipe-hero-img"
            />
          </div>
          <div class="col span-1-of-2">
            <div class="recipe-hero-description">
              <label>Description</label>
              <input
        type="text"
        class="form-control"
        placeholder="Description"
        id="description"
        name="description"
      />
              <div class="row">
                <div class="col span-1-of-3">
                  <ion-icon name="time-outline"></ion-icon>
                  <h4>Prep Time</h4>
                  <input
        type="text"
        class="form-control"
        placeholder="Prep Time"
        id="prep-time"
        name="prep-time"
      />
                </div>
                <div class="col span-1-of-3">
                  <ion-icon name="time"></ion-icon>
                  <h4>Cooking Time</h4>
                  <input
        type="text"
        class="form-control"
        placeholder="Cooking Time"
        id="cook-time"
        name="cook-time"
      />
                </div>
                <div class="col span-1-of-3">
                  <ion-icon name="people"></ion-icon>
                  <h4>Servings</h4>
                  <input
        type="text"
        class="form-control"
        placeholder="Servings"
        id="serv"
        name="serv"
      />
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <div class="recipe-container">
          <div class="row">
            <div class="col span-1-of-2">
              <h4><i class="fas fa-utensils"></i>Procedure</h4>
              <input type="text" placeholder="Recipe" name="content" id="content">
            </div>
            <div class="col span-1-of-2">
              <h4><i class="far fa-lemon"></i>Ingredients</h4>
              <p><input type="text" placeholder="Ingredients" name="ingre" id="ingre">
              </p>
            </div>
          </div>
        


        <div class="tip">
          <h5><i class="far fa-comment-dots"></i>Tip &#8211;</h5>
          <input
          type="text"
          placeholder="Tip"
          name="tip"
          id="tip"
        >
      </div>
      
    <button type="submit" class="btn btn-primary" id="sendMessageButton">
      Submit
    </button>
</form>

{% endblock %}
