{% extends "layout.html" %} {% block body %}

<section class="recipes">
  <form class="search">
    <input type="text" placeholder="Search" name="search" />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="row">
    <div class="col span-1-of-4">
      <a href="white-sauce-pasta.html">
        <div class="card">
          <img
            src="static/img/food/white sauce pasta.jpg"
            alt="white sauce pasta"
            class="container"
          />
          <h3 class="card-title">White Sauce Pasta</h3>
        </div>
      </a>
    </div>
    <div class="col span-1-of-4">
      <a href="momos.html">
        <div class="card">
          <img src="static/img/food/momos.jpg" alt="momos" class="container" />
          <h3 class="card-title">Momos</h3>
        </div>
      </a>
    </div>
    <div class="col span-1-of-4">
      <a href="cornbread.html">
        <div class="card">
          <img
            src="static/img/food/Sweet Cornbread.jpg"
            alt="Sweet Cornbread"
            class="container"
          />
          <h3 class="card-title">Sweet Cornbread</h3>
        </div>
      </a>
    </div>
    <div class="col span-1-of-4">
      <a href="ropa-veija.html">
        <div class="card">
          <img
            src="static/img/food/Ropa Vieja.jpg"
            alt="Ropa Vieja _ National food of Cuba"
            class="container"
          />
          <h3 class="card-title">Ropa Vieja</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/Three Bean Salad.jpg"
          alt="Three Bean Salad"
          class="container"
        />
        <h3 class="card-title">Three Bean Salad</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/French Toast.jpg"
          alt="French Toast"
          class="container"
        />
        <h3 class="card-title">French Toast</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/Paneer Butter Masala.jpg"
          alt="Paneer Butter Masala"
          class="container"
        />
        <h3 class="card-title">Paneer Butter Masala</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/Rajma Masala.jpg"
          alt="Rajma Masala"
          class="container"
        />
        <h3 class="card-title">Rajma Masala</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/Gobi Manchurian.jpg"
          alt="Gobi Manchurian"
          class="container"
        />
        <h3 class="card-title">Gobi Manchurian</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/Chicken Kebab.jpg"
          alt="Chicken Kebab"
          class="container"
        />
        <h3 class="card-title">Chicken Kebab</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/Noodle Soup With Prawns.jpg"
          alt="Noodle Soup With Prawns"
          class="container"
        />
        <h3 class="card-title">Noodle Soup With Prawns</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img src="static/img/food/pizza.jpg" alt="Pizza" class="container" />
        <h3 class="card-title">Pizza</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-4">
      <div class="card">
        <img src="static/img/food/Poi.jpg" alt="Poi" class="container" />
        <h3 class="card-title">Poi</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/PuranPoli.jpg"
          alt="PuranPoli"
          class="container"
        />
        <h3 class="card-title">PuranPoli</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/Poutine.jpg"
          alt="Poutine"
          class="container"
        />
        <h3 class="card-title">Poutine</h3>
      </div>
    </div>
    <div class="col span-1-of-4">
      <div class="card">
        <img
          src="static/img/food/Patatas Bravas.jpg"
          alt="Patatas Bravas"
          class="container"
        />
        <h3 class="card-title">Patatas Bravas</h3>
      </div>
    </div>
  </div>
</section>

{% endblock %}
