{% extends "layout.html" %} {% block body %}

<section class="tags">
  <form class="search">
    <input type="text" placeholder="Search" name="search" />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="row">
    <div class="col span-1-of-5">
      <button class="tag">Italian</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Caribbean</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Korean</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">German</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Indian</button>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-5">
      <button class="tag">Australian</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">French</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Hawaiian</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Japenese</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Ethiopian</button>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-5">
      <button class="tag">American</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Spanish</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Chinese</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Mediterranean</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Lebanese</button>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-5">
      <button class="tag">Thai</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Morrocan</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Turkish</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Cajun</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Cuban</button>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-5">
      <button class="tag">Russian</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Hungarian</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Swedish</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Cannadian</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Brazilian</button>
    </div>
  </div>
  <div class="row">
    <div class="col span-1-of-5">
      <button class="tag">Kebabs</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Egyptian</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Portuguese</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Tahitian</button>
    </div>
    <div class="col span-1-of-5">
      <button class="tag">Algerian</button>
    </div>
  </div>
</section>

{% endblock %}
