<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css">
</head>

<body>
    <article>
    <div class="full"> 
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <!-- <span class="main_bg">

    </span> -->


    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">
        <!-- ===== ===== Header===== ===== -->
        <header class="header">
            <div class="brandLogo">
                <figure><img class="imgC" src="Simple Recipes-logos_transparent.png" alt="logo" width="100px" height="100px"></figure>
                <span><a class="firstHref " href="#">Home</a>
                    <a class="secondHref everyHref" href="#">Recipes</a>
                    <a class="everyHref" href="#">Tags</a>
                    <a class="everyHref" href="#">About</a>
                </span>
            </div>
        </header>


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img class="profileImg" src="profile image2.jpg" alt="profile" width="250px" height="250px"></figure>
            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="work">
                <h1 class="heading">work</h1>
                <div class="primary">
                    <h1>Taj Mumbai</h1>
                    <span>2022 - Present</span>
                    <p>Churchgate Mumbai </p>
                </div>

                <div class="secondary">
                    <h1>GaonTea</h1>
                    <span>2016 - Present</span>
                    <p>Personal restaurant<br> Mira Road, Mumbai</p>
                </div>
            </div>

            <!-- ===== ===== Skills Contaienr ===== ===== -->
            <div class="skills">
                <h1 class="heading">Skills</h1>
                <ul>
                    <li style="--i:0">Indian</li>
                    <li style="--i:1">Thai</li>
                    <li style="--i:2">Asian</li>
                    <li style="--i:3">Italian</li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name">Vedush Watak</h1>
                <div class="map">
                    <i class="ri-map-pin-fill ri"></i>
                    <span>Mumbai, India</span>
                </div>
                <p>Professional Chef</p>
            </div>

            <div class="rank">
                <h1 class="heading">Rating</h1>
                <span>8.6</span>
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill underrate"></i>
                </div>
            </div>

            <div class="btns">
                <ul>
                    <li class="sendMsg active">
                        <i class="ri-chat-4-fill ri"></i>
                        <a href="#">81k Followers</a>
                    </li>

                    <li class="sendMsg active">
                        <i class="ri-check-fill ri"></i>
                        <a href="#">420 Following</a>
                    </li>

                    <li class="sendMsg active">
                        <a href="#">Follow</a>
                    </li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    <li class="timeline">
                        <i class="ri-eye-fill ri"></i>
                        <span>Timeline</span>
                    </li>

                    <li class="about active">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_info">
                <h1 class="heading">Contact Information</h1>
                <ul>
                   
                   
                    <li class="email">
                        <h1 class="label">E-mail:</h1>
                        <span class="info">hello@gmail.com</span>
                    </li>

                    <li class="site">
                        <h1 class="label">Site:</h1>
                        <span class="info">www.rsmarquetech.com</span>
                    </li>
                </ul>
            </div>

            <div class="basic_info">
                <h1 class="heading">Basic Information</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Birthday:</h1>
                        <span class="info">Dec 25, 2000</span>
                    </li>

                    <li class="sex">
                        <h1 class="label">Gender:</h1>
                        <span class="info">Male</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    

    

<!-- --------------------------------------------------------- -->

<div class="recipe">
    <div class="floating1">
        <h1 class="start-recipe">Your Recipes</h1>
        <div class="allCards">
      <div class="cardf">
        <div class="card-image1"></div>
        <div class="meal-tags">
          <span class="tag tag--vegan">Vegan</span>
        </div>
        <div class="card-text">
          <span class="date">4 days ago</span>
          <h2>Healthy Salad</h2>
          <p>
            A lot sprouts and green leafy vegetables mixed with Indian spices
          </p>
        </div>
        
        </div>
      </div>

      
      <div class="cardf">
        <div class="card-image3"></div>
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <div class="card-text">
          <span class="date">4 days ago</span>
          <h2>Cheesy pizza</h2>
          <p>
            Delicious Pizza with loaded cheese
          </p>
        </div>
        
        </div>
      </div>

      <div class="cardf lastCard">
        <div class="card-image2"></div>
        <div class="meal-tags">
          <span class="tag tag--vegetarian">Vegetarian</span>
        </div>
        <div class="card-text">
          
          <span class="date">6 days ago</span>
          <h2>Cottage Cheese</h2>
          <p>
            Tasty paneer/cottage cheese bhurji recipe with parathaas(Indian
            bread) with added ghee(clarified butter)
          </p>
        </div>
        </div> 
        </div>
    </div>
</body>
</article>

<!-- ---------------------------------------------- -->
<div>
    <footer class="footer">
        <div class="container1">
            <div class="row">
                <div class="footer-col">
                    <h4>Find us on</h4>
                    <img class="footerImg" src="Simple Recipes-logos.jpeg" alt="logo">
                </div>
                <div class="footer-col">
                    <h4>Contact us</h4>
                   <p> 623 Harrison St., 2nd Floor,</p> 
                   <p>San Francisco, CA 94107916-356-8243</p>
                     <p>contact@simplerecipes.com</p>
                </div>
                <div class="footer-col">
                    <h4>Also On</h4>
                    <img class="lundImg" src="app-store.png">
                    <img class="lundImg" src="playstore.png">
                </div>
                <div class="footer-col">
                    <h4>Quick Links</h4>
                    <p><a href="#">Home</a></p>
                    <p><a href="#">Recipes</a></p>
                    <p><a href="#">Tags</a></p>
                    <p><a href="#">About</a></p>

                </div>
            </div>
        </div>
   </footer>
  </div>

</html>